/*______Content-greeting______*/

.content__greetings {
    width: 100%;
    background-image: url("/img/greetingbg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content__greetings-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px 0 30px 50px;
}

.content__greetings-text > span {
    color: white;
    font-family: Georgia-Bold, serif;
    font-weight: 900;
    font-size: calc(48px + 61 * (100vw / 1880));
    line-height: 1.06em;
}

/*______Content-title______*/

.content__title {
    width: 100%;
    color: var(--main-color);
}

.content__title_up {
    margin-bottom: 7.5%;
}

.content__title_color {
    color: white;
}

.content__title-text {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 180px;
}

.content__title-text > p {
    font-size: calc(14px + 5 * (100vw / 1880));
    margin-bottom: 10px;
}

.content__title-text > span {
    margin: 0 10px;
    font-size: calc(18px + 20 * (100vw / 1880));
}

/*______content__products______*/

.content__products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: var(--main-color);
    font-family: Futura LT Book, serif;
}

.content__line {
    background: #7794ad;
    width: 30px;
    height: 1px;
}

.content__line:last-child {
    margin-bottom: 60px;
}

/*-----book-list-----*/

.content__book-list {
    display: flex;
    width: 100%;
    height: 350px;
    padding: 0 40px;
    margin-bottom: 40px;
}

.content__book-list_up {
    margin-top: -6%;
}

.content__book-list__item {
    background-color: white;
    text-align: center;
    height: 67%;
}

.content__book-list__item-img-container {
    height: 100%;
    overflow: hidden;
}

.content__book-list__item-img-container img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.content__book-list__item-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    opacity: 0.7;
    height: 55px;
    margin-top: 0;
    transition: all 0.3s ease-in-out;
}

.content__book-list__item-menu > a {
    color: black;
}

.content__book-list__item:hover .content__book-list__item-menu  {
    margin-top: -55px;
}

.content__book-list__item-description {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 16px;
    margin: 10px 0;
    color: white;
}

.content__book-list__add-btn {
    opacity: 0;
    background: var(--main-color);
    width: 100%;
    color: white;
    padding: 10px 50px;
    border: 3px solid white;
    transition: all 0.3s ease-in-out;
}

.content__book-list__item:hover .content__book-list__add-btn  {
    opacity: 1;
}

.swiper-button-next::after, .swiper-button-prev::after {
  position: relative;
  bottom: 85px;
  color: #414141;
  font-size: 28px;
}

.swiper-button-next::after {
    left: 5px;
}

.swiper-button-prev::after {
    right: 5px;
}

/*-----recommended-books-----*/

.content__recommended-books {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 70px;
}

/*-----phrase-----*/

.content__phrase {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin: 0 10px;
    color: #ffffff;
    font-size:calc(24px + 46 * (100vw / 1880));
}

.content__phrase-btn {
    display: flex;
    justify-content: center;
    font-family: Futura LT Book, serif;
}

.phrase-btn {
    width: 170px;
    padding: 10px 15px;
    color: white;
    background: var(--main-color);
    border: 3px solid white;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    margin: 30px 0;
}

.phrase-btn:hover {
    background: #ffffff;
    color: var(--main-color);
}

/*______content__events______*/

.content__events {
    width: 100%;
}

.content__events-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

/*-----left-container-----*/

.content__left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.content__text-container {
    margin: 0 20px;
}

.text-container__name {
    margin-bottom: 40px;
    font-size: 24px;
    color: var(--main-color);
}

.text-container__name > a {
    color: var(--main-color);
}

.text-container__author {
    margin-bottom: 40px;
    color: var(--main-color);
    font-size: 18px;
}

.text-container__info {
    display: flex;
    flex-direction: column;
    color: var(--main-color);
    font-size: 18px;
    line-height: 2;
    margin-bottom: 40px;
}

.events-btn {
    width: 150px;
    height: 50px;
    font-size: 16px;
    border: 3px solid var(--main-color);
    background: #ffffff;
    transition: all 0.3s ease-in-out;
}

.events-btn:hover {
    color: #57718c;
    border-color: #57718c;
}

.text-container__line {
    background: var(--main-color);
    width: 20px;
    height: 1px;
    margin: 5px 0;
}

/*-----right-container-----*/

.content__right {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.content__right img {
    max-width: 520px;
    border: 15px solid var(--main-color);
}


@media(max-width: 1160px) {
    .content__right img {
    max-width: 450px;
    }
}

@media(max-width: 1023px) {
    .content__greetings-text {
        padding: 20px 0 20px 20px;
    }

    .content__title-text {
        height: 100px;
    }

    .content__book-list_up {
        margin-top: 5%;
    }

    .content__title_up {
        margin-bottom: 0;
    }

    .content__book-list__add-btn {
        padding: 10px 20px;
        opacity: 1;
    }

    .content__events-container {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .content__left {
        width: 100%;
    }

    .content__right {
        justify-content: center;
        width: 100%;
        margin-bottom: 40px;
        order: -1;
    }

    .text-container__btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 720px) {
    .content__book-list {
        width: 85%;
    }
    .content__recommended-books {
        margin-top: 32px;
    }

    .content__title-text {
        height: 90px;
    }

    .phrase-btn {
        width: 150px;
        margin: 25px 0;
    }
    .content__line {
        margin: 15px 0;
    }
    .content__line:last-child {
        margin-bottom: 32px;
    }
}


@media (max-width: 580px) {
    .content__book-list {
        width: 300px;
    }
}

@media(max-width: 500px) {
    .content__title-text {
        height: 70px;
    }

    .phrase-btn {
        width: 120px;
        font-size: 12px;
        margin: 15px 0;
    }

    .content__right img {
        max-width: 350px;
    }
}

@media(max-width: 450px) {
    .content__right img {
        max-width: 290px;
    }

    .content__title {
        margin: 0;
    }
}