.link {
    color: var(--main-color);
    transition: all 0.3s ease-in-out;
}
.link:hover {
    color: #3d94eb;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

/* ______Header-logo______*/

.header__container {
    height: 36px;
    line-height: 30px;
    width: 300px;
    outline: 3px solid var(--main-color);
    letter-spacing: 5px;
    cursor: pointer;
}

.header__container-left {
    display: flex;
    align-items: center;
    float: left;
    font-family: Futura LT Bold, serif;
    font-size: 20px;
    height: 100%;
    background: var(--main-color);
    color: white;
}

.header__container-left a {
    color: #ffffff;
    margin: 0 18px;
}

.header__container-right {
    display: flex;
    align-items: center;
    float: right;
    font-family: Georgia Regular, serif;
    font-size: 15px;
    padding: 4px 17px;
    color: var(--main-color);
    transition: all 0.5s ease-in-out;
}

.header__container-right:hover {
    background: var(--main-color);
    color: #ffffff;
}


/* ______Header-menu______*/

.header__menu {
    display: flex;
    justify-content: flex-end;
    font-family: Futura LT Book, serif;
    color: var(--main-color);
    font-size: 18px;
    align-items: center;
    width: 60%;
}

.header__nav {
    display: flex;
    align-items: flex-end;
    height: 25px;
    transition: 0.5s ease-in-out;
}

.header__nav-item {
    margin-right: 30px;
}

.header__nav-item:last-child {
    margin: 0;
}

.header__nav-item-logIn {
    margin-left: 5px;
} 

.header__btn-log {
    display: flex;
    align-items: center;
    height: 25px;
}

.header__nav-item-user-icon {
    width: 40px;
}

.header__shopping-cart {
    margin-left: 25px;
}

.header__shopping-cart:hover span {
    color: #3d94eb;
}

.header__btn-shopping-cart {
    height: 60px;
    border-radius: 30%;
    background: #ffffff;
}

.shopping-cart {
    width: 55px;
}

.header__counter {
    font-family: Futura LT Regular, serif;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 32px;
    font-size: 18px;
    color: var(--main-color);
    transition: all 0.3s ease-in-out;
}

.header__btn-burger {
    display: none;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 15px;
    background: #ffffff;
    z-index: 10;
}

.header__btn-burger span {
    display: block;
    position: absolute;
    left: 7px;
    width: 40px;
    height: 3px;
    background: var(--main-color);
    transition: 0.5s ease-in-out;
}

.header__btn-burger span:nth-child(1){
    transform: translateY(-15px);
}

.header__btn-burger span:nth-child(3) {
    transform: translateY(15px);
}

.header__menu.open .header__btn-burger span:nth-child(1) {
    transform: rotate(-45deg);
}

.header__menu.open .header__btn-burger span:nth-child(2) {
    opacity: 0;
}

.header__menu.open .header__btn-burger span:nth-child(3) {
    transform: rotate(45deg);
}

/*-----shopping-menu-----*/

.header__shopping-menu {
    display: block;
    position: fixed;
    right: -25vw;
    top: 0;
    width: 25vw;
    height: 100vh;
    background: #ffffff;
    z-index: 11;
    transition: 0.5s ease-in-out;
}

.header__shopping-menu.open {
    transform: translateX(-100%);
}

.header__shopping-menu.open .header__btn-back {
    transform: rotate(180deg);
}

.header__menu-header {
    display: flex;
    position: relative;
    align-items: center;
    font-size: 24px;
    height: 130px;
    background: var(--main-color);
}

.header__menu-header span {
    position: absolute;
    left: 45%;
    color: #ffffff;
}

.header__menu-header button {
    position: absolute;
    left: 7%;
}

.header__btn-back {
    width: 30px;
    height: 30px;
    background-color: var(--main-color);
    background-image: url("/img/icon/arrow_icon.png");
    background-size: 30px;
    transition: 0.5s ease-in-out;
}

.header__menu-content {
    width: 100%;
    height: 100%;
    text-align: center;
}

.header__menu-content p {
    margin-top: 20px;
}

@media (max-width: 1023px) {
    .header {
        margin: 0 20px;
    }
}

@media (max-width: 992px) {
    .header__logo {
        margin-left: 25px;
    }

    .header__menu {
        margin-right: 0;
    }
    
    .header__nav {
        display: block;
        position: absolute;
        right: -50vw;
        top: 0;
        width: 50vw;
        height: 100vh;
        font-size: 24px;
        padding: 30px 0;
        background: #ffffff;
        z-index: 5;
    }

    .header__nav-item {
        display: block;
        margin: 35px 0;
        text-align: center;
    }

    .header__nav-item:last-child {
        margin-bottom: 40px;
    }

    .header__btn-burger {
        display: block;
    }

    .header__menu.open .header__nav {
        transform: translateX(-100%);
    }

    .header__nav-item-logIn {
        margin-left: 0;
    }

    .header__nav-item-user-icon {
        width: 40px;
        margin-top: -8px;
    }

    .header__shopping-cart {
        margin: 0;
    }

    .header__shopping-menu {
        right: -50vw;
        width: 50vw;
    }
}

@media (max-width: 580px) {
    .header {
        margin: 0 5px;
    }
    .header__logo {
        margin-left: 15px;
    }

    .header__container {
        width: 240px;
    }

    .header__container-left {
        font-size: 14px;
    }

    .header__container-left a {
        margin: 0 10px;
    }

    .header__container-right {
        padding: 4px 13.5px;
        font-size: 12px;
    }

    .header__nav {
        right: -100vw;
        width: 100vw;
        height: 100vh;
    }
    .header__shopping-menu {
        right: -100vw;
        width: 100vw;
    }
}

@media (max-width: 420px) {

    .header__container {
        width: 170px;
    }

    .header__container-left {
        font-size: 8px;
    }

    .header__container-left a {
        margin: 0 2px;
    }

    .header__container-right {
        padding: 4px 2px;
        font-size: 10px;
    }

    .header__btn-burger {
        margin: 0 5px;
    }

    .shopping-cart {
        width: 50px;
    }

    .header__counter {
        bottom: 30px;
    }
}
