@import url('./fonts.css');
@import url('./header.css');
@import url('./body.css');
@import url('./footer.css');

:root {
  --main-color: rgb(14, 52, 90);
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    max-width: 1800px;
    width: calc(100% - 110px);
    margin: 0 auto;
}

.georgia-bold {
    font-family: Georgia Bold, serif;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 3px;
}

.futura-lt {
    font-family: Futura LT Book, serif;
    font-size: 16px;
}

.futura-regular {
    font-family: Futura LT Regular, serif;
    font-weight: 600;
    line-height: 10px;
    letter-spacing: 2px;
}

@media (max-width: 1023px) {
    .wrapper {
        width: 100% ;
    }
}